* {
	font-family: Arial,Helvetica,sans-serif;
	box-sizing: border-box;
}

main{
	display: grid;
	grid-template-columns: 50px 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 400px 400px repeat(6, auto) ;

}
.icon {
	display: inline;
	grid-column: 2 / 3;
	grid-row: 1 / 2 ;
	padding-left: 50px;
}
nav {
	grid-column: 4 / 6;
	grid-row: 1 / 2;
	display: flex;
  	align-items: right;
  	justify-content: right;
  	padding-right: 150px;
}
ul {
	list-style-type: none;
}
ul li {
  	display: inline-block;
}
li a {
	text-decoration: none;
	padding-right: 10px;

}
button {
	background-color: #1dc130;
	border-radius: 10px;
	border: none;
	/*height: 20px;*/
	box-shadow: none;
	display: inline-block;
	padding: 15px 32px;
	font-size: 20px;
	color: white;
}
.slider1 {
	background-image: url(images/image-slider-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1 / 6;
	grid-row: 2;
	background-size: cover;
    min-height: 40vh;
}
.tagline {
	grid-column: 2 / 3;
	grid-row: 2;
	display: flex;
	/*align-items: center;
	justify-content: center;*/
	z-index: 1;
	padding-top: 200px;
	padding-left: 50px;
}

.welcome {
	grid-column: 2 / 5;
	grid-row: 3 / 4;
	text-align: justify;
	padding: 50px 200px 50px 50px;
	
}

.contact{
	grid-column: 5 / 6;
	grid-row: 3 / 4;
	padding-top: 50px;
}
.boxes {
	/*grid-column: 2 / 5;
	grid-row: 4 / 5;
	font-size: 25px;
	color: white;*/
	/*height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;*/
}
.student {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	padding: 50px;
	background-color: #ff1111;
	color: white;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.heros {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
	background-color: #114cff;
	color: white;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.resource {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
	background-color: #1dc130;
	color: white;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.involved {
	grid-column: 5 / 6;
	grid-row: 4 / 5;
	background-color:  #f7dc6f;
	color: white;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}	


.bishoplavis{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

.sab-backpacks{
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}

/*.sponsers{
	grid-column: 2 / 5;
	grid-row: 5 / 6;
	vertical-align: middle;
	display: inline-block;
}*/
img {}

footer{
	grid-column: 4 / 5;
	grid-row: 5 / 6;
	padding: 50px;
}
