* {
	font-family: arial, Helvetica;
}

main{
	display: grid;
}
nav {}

ul {
	list-style-type: none;
}
ul li {
	display: inline-block;
}
li a {
	text-decoration: none;
	padding-right: 10px;
}

