* {
	font-family: Arial,Helvetica,sans-serif;
	box-sizing: border-box;
}

main{
	display: grid;
	grid-template-columns: 50px 1fr 1fr 1fr;
	grid-template-rows: auto 400px 400px repeat(6, auto) ;

}
.icon {
	display: inline;
	grid-column: 2 / 3;
	grid-row: 1 / 2 ;
	padding-left: 50px;
}
nav {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	display: flex;
  	align-items: right;
  	justify-content: right;
}
ul {
	list-style-type: none;
}
ul li {
  	display: inline-block;
}
li a {
	text-decoration: none;
	padding-right: 10px;

}
button {
	background-color: red;
	border-radius: 20px;
	border: none;
	height: 20px;
	box-shadow: none;
	display: inline-block;
}
.slider1 {
	background-image: url(image-slider-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1 / 6;
	grid-row: 2;
	background-size: cover;
	/*max-width: 80vw;*/
    min-height: 40vh;
}
.tagline {
	grid-column: 2 / 3;
	grid-row: 2;
	display: flex;
	/*align-items: center;
	justify-content: center;*/
	z-index: 1;
	padding-top: 200px;
	padding-left: 50px;
}

.welcome {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
	text-align: justify;
	padding: 50px 200px 50px 50px;
	
}
.boxes {
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact{
	grid-column: 4 / 5;
	grid-row: 3 / 4;
	padding-top: 50px;
}
.student {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	padding-right: 50px;
	background-color: #ff1111;
	width: 100px;
}
.heros {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	background-color: #114cff;
}
.resource {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
	background-color: #1dc130;
}
.involved {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
	background-color: #fff314;
}	


.bishoplavis{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

.sab-backpacks{
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}

.sponsers{
	grid-column: 2 / 5;
	grid-row: 5 / 6;
	vertical-align: middle;
}
img {
}

